{% extends "layout.html" %}
{% block content %}
<div class="container " style="padding:20px;" >
    <h1>About</h1>
    <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, animi consequuntur ipsum perferendis, 
    enim possimus unde nisi non, saepe suscipit pariatur ipsa sit cumque itaque debitis accusamus ad libero? Architecto.
     aspernatur quidem tempora corrupti explicabo sint nulla esse est, modi fugit quis quisquam, atque minima facere dicta fugiat.</p>
     <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, animi consequuntur ipsum perferendis, 
            enim possimus unde nisi non, saepe suscipit pariatur ipsa sit cumque itaque debitis accusamus ad libero? Architecto.
    aspernatur quidem tempora corrupti explicabo sint nulla esse est, modi fugit quis quisquam, atque minima facere dicta fugiat.</p>
     <p>Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, animi consequuntur ipsum perferendis, 
    enim possimus unde nisi non, saepe suscipit pariatur ipsa sit cumque itaque debitis accusamus ad libero? Architecto.
     aspernatur quidem tempora corrupti explicabo sint nulla esse est, modi fugit quis quisquam, atque minima facere dicta fugiat.</p>
             
    </div>
{% endblock content %}
